# 忽略打包生成的文件夹和配置文件
build/
dist/
*.spec

# 忽略 Python 缓存
__pycache__/
.pycache/
*.py[cod]

# 忽略本地数据库文件（避免把你的测试数据也传到网上）
*.db

# 忽略虚拟环境（如果你有的话）
.venv/
venv/

# 备份文件
backup/
*.bak
*.bak_*
*_bak_*
*.backup_*

# 运行时文件
startup.log
accounting.db
